    <div class="historyWidgetContainer"><a href="../adminindex.php?flag=dashboard">Home</a> <strong>&raquo;</strong> <a href="adminindex.php?action=settings.companyHome&flag=settings">Settings</a> <strong>&raquo;</strong> <a href="#">Payment Gateways</a></div>
    <div class="fullWidgetContainer">
      <div class="WidgetTitle">Payment Gateways</div>
      <div class="WidgetContent"><form name="ThisForm" id="ThisForm" action="{TPL_VAR_SITEURL}admin/adminindex.php?action=settings.updatePayment" method="post">
<div class="builderBlock ">
	<!-- BEGIN TPL_DSPMSG_BLK -->{TPL_VAR_MSG}<!-- END TPL_DSPMSG_BLK -->
			
	<table class='whiteTable'>
		<thead>
			<tr>
				<th colspan="2">Payment Gateway Settings</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td class="first"><label>Gateway Testmode</label></td>
					<td>
						<input type="checkbox" class="checkbox" id="gatewayTestmode" name="gatewayTestmode" value="1" {ENABLE_GATEWAYTESTMODE} />
					</td>
				</tr>
				<tr>
					<td><label for="txtpaymentCurrency">Currency</label></td>
					<td>
						<input type="text" class="formField" id="txtpaymentCurrency" name="txtpaymentCurrency" value="{TPL_VAR_PAYPAL_CURRENCY}" />
					</td>
	   			</tr>
				<tr>
					<td><label for="txtpaymentCurrency">Selected On-Site Payment Gateway</label></td>
					<td>
						<select id="SelectedGateway" name="txtSelectedGateway">
							<option value="0">None</option>
							<option value="authorizenet">Authorize.net</option>
							<option value="Cardsave">Cardsave</option>
							<option value="propay">Propay</option>
							<option value="protx">Sagepay</option>
							<option value="securetrading">Secure Trading</option>
						</select>
						<script type="text/javascript">
							jQuery("#SelectedGateway").val('{TPL_VAR_SELECTED_METHOD}');
						</script>
					</td>
	   			</tr>
			</tbody>
		</table>
		<p class="formButtonWrapper">
			<button type="submit" class="formButton"><img src="../graphics/i_tick.gif" alt="Update Settings" /> Update Settings</button>
		</p>
	<div class="builderBlock">
		<div class="column first"><br/>
			<div class='WidgetTitle'><div> On-Site Payment Gateways</div></div>
			<div class='colaspContent2'><div style='padding:10px;'>On-site payment gateways take care of the payment process entirely within your website. You can use any one of the gateways listed below.</div></div>
			<div id="Acc1" class="Accordion" tabIndex="0">
				<div class="AccordionPanel">
					<div class="AccordionPanelTab colaspTitle2"><img src="../images/collasp-arrow.png" alt="collasp" /><div>Sage Pay</div></div>
					<div class="AccordionPanelContent colaspWrapper colaspContent2">
						<table class='whiteTable2'>
							<thead>
								<tr> 
									<th colspan="2">Sage Pay <a href="https://support.sagepay.com/apply/default.aspx?partnerID=538b212e-9cba-4782-
bce6-1562c1b4ed44" class="linkSignup" target="_blank">Signup Now</a></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="first"><label>Sage Pay Vendor Name</label></td>
									<td>
										<input type="text" class="formField" id="txtprotxVendor" name="txtprotxVendor" value="{TPL_VAR_PROTX_VENDOR}" />
									</td>
								</tr>
								<tr>
									<td><label>Apply AVSCV2</label></td>
									<td>
										<input type="hidden" class="formField" id="txtprotxApplyAVSCV2" name="txtprotxApplyAVSCV2" value="{TPL_VAR_APPLY_AVS_CV2}" />
										<select id="avscv2sel">
											<option value=''>Select One</option>
											<option value='0'>Check AVS/CV2 Using Default Settings</option>
											<option value='1'>Force AVS/CV2 Checks On All Transactions Using Rules.</option>
											<option value='2'>Do Not Perform Any AVS/CV2 Checks</option>
											<option value='3'>Force AVS/CV2 Checks On All Transactions Without Rules.</option>
										</select>
										<script type='text/javascript'>
											$(document).ready(function() {
												$('#avscv2sel').val('{TPL_VAR_3D_SECURE_STATUS}');
												$('#avscv2sel').change(function() {
													$('#txtprotxApplyAVSCV2').val($('#avscv2sel').val());
												});
											});
										</script>
									</td>
								</tr>
								<tr>
									<td><label>3D Secure Status</label></td>
									<td>
										<input type="hidden" id="txtprotx3DSecureStatus" name="txtprotx3DSecureStatus" value="{TPL_VAR_3D_SECURE_STATUS}" />
										<select id="3dsecstatus">
											<option value=''>Select One</option>
											<option value='0'>3D Secure Check Using Default Settings</option>
											<option value='1'>Force 3D Secure Checks On All Transactions</option>
											<option value='2'>Do Not Perform Any 3D Secure Checks</option>
											<option value='3'>Force 3D Secure Checks But Always Authorize</option>
										</select>
										<script type='text/javascript'>
											$(document).ready(function() {
												$('#3dsecstatus').val('{TPL_VAR_3D_SECURE_STATUS}');
												$('#3dsecstatus').change(function() {
													$('#txtprotx3DSecureStatus').val($('#3dsecstatus').val());
												});
											});
										</script>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="AccordionPanel">
					<div class="AccordionPanelTab colaspTitle2"><img src="../images/collasp-arrow.png" alt="collasp" /><div>Authorize.net</div></div>
					<div class="AccordionPanelContent colaspWrapper colaspContent2">
						<table class='whiteTable2'>
							<thead>
								<tr>
									<th colspan="2">Authorize.net <a href="http://www.authorize.net/signupnow/" class="linkSignup" target="_blank">Signup Now</a></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="first"><label>Authorize Login</label></td>
									<td>
										<input type="text" class="formField" id="txtauthorizeNetLogin" name="txtauthorizeNetLogin" value="{TPL_VAR_AUTHORIZEPAYMENT_LOGIN}" />
									</td>
								</tr>
								<tr>
									<td><label>Authorize Type</label></td>
									<td><input type="text" class="formField" id="txtauthorizeNetType" name="txtauthorizeNetType" value="{TPL_VAR_AUTHORIZEPAYMENT_TYPE}" size="25" maxlength="60" /></td>
								</tr>
								<tr>
									<td><label>Authorize Key</label></td>
									<td>
										<input type="text" class="formField" id="txtauthorizeNetKey" name="txtauthorizeNetKey" value="{TPL_VAR_AUTHORIZEPAYMENT_KEY}" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="AccordionPanel">
					<div class="AccordionPanelTab colaspTitle2"><img src="../images/collasp-arrow.png" alt="collasp" /><div>SecureTrading</div></div>
					<div class="AccordionPanelContent colaspWrapper colaspContent2">
						<table class='whiteTable2'>
							<thead>
								<tr>
									<th colspan="2">SecureTrading <a href="http://www.securetrading.com/" class="linkSignup" target="_blank">Signup Now</a></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="first"><label>SecureTrading MerchantID</label></td>
									<td>
										<input type="text" class="formField" id="txtSecureTradingMerchantId" name="txtSecureTradingMerchantId" value="{TPL_VAR_SECURETRADING_MERCHANTID}" />
									</td>
								</tr>
								<tr>
									<td><label>SecureTrading Currency</label></td>
									<td>
										<input type="text" class="formField" id="txtSecureTradingCurrency" name="txtSecureTradingCurrency" value="{TPL_VAR_SECURETRADING_CURRENCY}" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				
		<div class="AccordionPanel">
					<div class="AccordionPanelTab colaspTitle2"><img src="../images/collasp-arrow.png" alt="collasp" /><div>PayPal Direct Payment</div></div>
					<div class="AccordionPanelContent colaspWrapper colaspContent2">
						<table class='whiteTable2'>
							<thead>
								<tr>
									<th colspan="2">PayPal Direct Payment <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_dcc_hub-outside" class="linkSignup" target="_blank">Signup Now</a></th>
								</tr>
								<tr>
									<td class="first"><label>PayPal API username</label></td>
									<td><input type="text" class="formField" id="txtPayPalApiUser" name="txtPayPalApiUser" value="{TPL_VAR_PAYPALAPI_USERNAME}" /></td>
								</tr>
								<tr>
									<td><label>PayPal API password</label></td>
									<td><input type="text" class="formField" id="txtPayPalApiPass" name="txtPayPalApiPass" value="{TPL_VAR_PAYPALAPI_PASSWORD}" /></td>
								</tr>
								<tr>
									<td><label>PayPal API signature</label></td>
									<td><input type="text" class="formField" id="txtPayPalApiSig" name="txtPayPalApiSig" value="{TPL_VAR_PAYPALAPI_SIGNATURE}" /></td>
								</tr>
								<tr>
									<td><label>PayPal API endpoint</label></td>
									<td><input type="text" class="formField" id="txtPayPalApiEnd" name="txtPayPalApiEnd" value="{TPL_VAR_PAYPALAPI_ENDPOINT}" /></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- Propay Gateway Integration: Starts -->
				<div class="AccordionPanel">
					<div class="AccordionPanelTab colaspTitle2"><img src="../images/collasp-arrow.png" alt="collasp" /><div>Propay</div></div>
					<div class="AccordionPanelContent colaspWrapper colaspContent2">
						<table class='whiteTable2'>
							<thead>
								<tr>
									<th colspan="2">Propay <a href="https://epay.propay.com/" class="linkSignup" target="_blank">Signup Now</a></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="first"><label>Propay Account Number</label></td>
									<td>
										<input type="text" class="formField" id="txtpropay_accnumber" name="txtpropay_accnumber" value="{TPL_VAR_PROPAY_ACCNUMBER}" />
									</td>
								</tr>
								<tr>
									<td class="first"><label>Propay Certification String</label></td>
									<td>
										<input type="text" class="formField" id="txtpropay_certstring" name="txtpropay_certstring" value="{TPL_VAR_PROPAY_CERTSTRING}" />
									</td>
								</tr>
								<tr>
									<td class="first"><label>Merchant from Canada</label></td>
									<td>
										<input type="checkbox" class="formField" id="txtpropay_canada" name="txtpropay_canada" value="1" {TPL_VAR_PROPAY_CANADA} />
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				<!-- Propay Gateway Integration: Ends -->
				
				
<!-- (BEGIN) CARDSAVE INTEGRATION-->
				 <!-- (begin) cardsave direct integrated method -->
				<div class="AccordionPanel">
				  <div class="AccordionPanelTab colaspTitle2"><img src="../images/collasp-arrow.png" alt="collasp" /><div>Cardsave Direct</div></div>
					<div class="AccordionPanelContent colaspWrapper colaspContent2">
					<table class='whiteTable2'>
							<thead>
								<tr>
									<th colspan="2">CardSave Direct<a href="https://mms.cardsaveonlinepayments.com/" class="linkSignup" target="_blank">Signup Now</a> (link opens in a new window)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="first"><label>Merchant ID</label></td>
									<td><input type="text" class="formField" id="txtCardSaveID" name="txtCardSaveID" value="{TPL_VAR_CS_ID}" /></td>
								</tr>
								<tr>
									<td class="first"><label>Password</label></td>
									<td><input type="text" class="formField" id="txtCardSavePass" name="txtCardSavePass" value="{TPL_VAR_CS_PASS}" /></td>
								</tr>
								<tr>
									<td class="first"><label>Payment Processor Domain</label></td>
									<td><input type="text" class="formField" id="txtCardSaveURL" name="txtCardSaveURL" value="{TPL_VAR_CS_DOMAIN}" /></td>
								</tr>
								<tr>
									<td class="first"><label>Payment Processor Port</label></td>
									<td><input type="text" class="formField" id="txtCardSavePort" name="txtCardSavePort" value="{TPL_VAR_CS_PORT}" /></td>
								</tr>
								<tr>
									<td class="first"><label>Preshared Key</label></td>
									<td><input type="text" class="formField" id="txtCardSaveKey" name="txtCardSaveKey" value="{TPL_VAR_CS_SECRET}" /></td>
								</tr>
								<tr>
									<td class="first"><label>Currency</label></td>
									<td><input type="text" class="formField" id="txtCardSaveCurrency" name="txtCardSaveCurrency" value="{TPL_VAR_CS_CURRENCY}" /></td>
								</tr>
							</tbody>	
						</table>
					</div>
				</div> 
<!-- (ends) cardsave direct integrated method -->	
                <!-- (ENDS) CARDSAVE INTEGRATION-->	
			</div>
		</div>
		<div class="column"><br/>
			<div class='WidgetTitle'><div> Off-Site Payment Gateways</div></div>
			<div class='colaspContent2'><div style='padding:10px;'>Off-site payment gateways re-direct the customer to a third party site in order to enter their payment details after the order has been reviewed.</div></div>
			<div id="Acc2" class="Accordion" tabIndex="0">
				<div class="AccordionPanel">
					<div class="AccordionPanelTab colaspTitle2"><img src="../images/collasp-arrow.png" alt="collasp" /><div>PayPal</div></div>
					<div class="AccordionPanelContent colaspWrapper colaspContent2">
						<table class='whiteTable2'>
							<thead>
								<tr>
									<th colspan="2">PayPal <a href="https://www.paypal.com/" class="linkSignup" target="_blank">Signup Now</a> (link opens in a new window)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="first"><label>PayPal ID (email address)</label></td>
									<td>
										<input type="text" class="formField" id="txtpayPalId" name="txtpayPalId" value="{TPL_VAR_PAYPAL_ID}" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="AccordionPanel">
					<div class="AccordionPanelTab colaspTitle2"><img src="../images/collasp-arrow.png" alt="collasp" /><div>SECpay</div></div>
					<div class="AccordionPanelContent colaspWrapper colaspContent2">
						<table class='whiteTable2'>
							<thead>
								<tr>
									<th colspan="2">SECpay <a href="http://www.paypoint.net/features/online-payment-support/" class="linkSignup" target="_blank">Signup Now</a> (link opens in a new window)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="first"><label>SECPay Merchant</label></td>
									<td>
										<input type="text" class="formField" id="txtsecpayMerchant" name="txtsecpayMerchant" value="{TPL_VAR_SECPAY_MERCHANT}" />
									</td>
								</tr>
								<tr>
									<td><label>SECPay Remote Password</label></td>
									<td><input type="text" class="formField" id="txtsecpayRemotePassword" name="txtsecpayRemotePassword" value="{TPL_VAR_SECPAY_REMOTEPASSWORD}" /></td>
								</tr>
								<tr>
									<td><label>SECPay Digest Key</label></td>
									<td>
										<input type="text" class="formField" id="txtsecpayDigestKey" name="txtsecpayDigestKey" value="{TPL_VAR_SECPAY_DIGESTKEY}" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="AccordionPanel">
					<div class="AccordionPanelTab colaspTitle2"><img src="../images/collasp-arrow.png" alt="collasp" /><div>SecureTrading</div></div>
					<div class="AccordionPanelContent colaspWrapper colaspContent2">
						<table class='whiteTable2'>
						<thead>
								<tr>
									<th colspan="2">SecureTrading <a href="http://www.securetrading.com/" class="linkSignup" target="_blank">Signup Now</a> (link opens in a new window)</th>
								</tr>
						</thead>
						<tbody>
							<tr>
								<td><label for="txtsiteref">Site Refenrece</label></td>
								<td><input type="text" class="txt-field" id="txtSTSiteref" name="txtSTSiteref" value="{TPL_VAR_ST_SITEREF}"/></td>
							</tr>
							<tr>
								<td><label for="txtSTClientId">SecureTrading Clientid</label></td>
								<td><input type="text" class="txt-field" id="txtSTClientId" name="txtSTClientId" value="{TPL_VAR_ST_CLIENTID}"/></td>
							</tr>
							<tr>
								<td><label for="txtSTPassword">SecureTrading Password</label></td>
								<td><input type="text" class="txt-field" id="txtSTPassword" name="txtSTPassword" value="{TPL_VAR_ST_PASSWORD}"/></td>
							</tr>
						</tbody>
						</table>
					</div>
				</div>
				<!-- (BEGIN) SAGEPAY INTEGRATION -->
				<div class="AccordionPanel">
					<div class="AccordionPanelTab colaspTitle2"><img src="../images/collasp-arrow.png" alt="collasp" /><div>Sagepay Form</div></div>
					<div class="AccordionPanelContent colaspWrapper colaspContent2">
						<table class='whiteTable2'>
							<thead>
								<tr>
									<th colspan="2">Sagepay Form<a href="#" class="linkSignup" target="_blank">Signup Now</a> (link opens in a new window)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="first"><label>Vendor name</label></td>
									<td><input type="text" class="formField" id="txtSageVendorname" name="txtSageVendorname" value="{TPL_VAR_SAGEVENDORNAME}" /></td>
								</tr>
								<tr>
									<td class="first"><label>Encryption password</label></td>
									<td><input type="text" class="formField" id="txtSageEncryptionpass" name="txtSageEncryptionpass" value="{TPL_VAR_ENCRYPTIONPASSWORD}" /></td>
								</tr>
								<tr>
									<td class="first"><label>Transaction Type</label></td>
									<td><input type="text" class="formField" id="txtSagetransactiontype" name="txtSagetransactiontype" value="{TPL_VAR_SAGETRANSACTIONTYPE}" /></td>
								</tr>
								<tr>
									<td class="first"><label>Currency</label></td>
									<td><input type="text" class="formField" id="txtSagecurrency" name="txtSagecurrency" value="{TPL_VAR_SAGECURRENCY}" /></td>
								</tr>
							</tbody>	
						</table>
					</div>
				</div>
				<!-- (END) SAGEPAY INTEGRATION -->
                 <!-- (BEGIN) cardsave redirect hosted method -->
				<div class="AccordionPanel">
							  <div class="AccordionPanelTab colaspTitle2"><img src="../images/collasp-arrow.png" alt="collasp" /><div>CardSave Redirect</div></div>
								<div class="AccordionPanelContent colaspWrapper colaspContent2" >
								<table class='whiteTable2'>
										<thead>
											<tr>
												<th colspan="2">CardSave Redirect<a href="https://mms.cardsaveonlinepayments.com/" class="linkSignup" target="_blank">Signup Now</a> (link opens in a new window)</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="first"><label>Merchant ID</label></td>
												<td><input type="text" class="formField" id="txtCardRSaveMerchantID" name="txtCardRSaveMerchantID" value="{TPL_VAR_CSR_ID}" /></td>
											</tr>
											<tr>
												<td class="first"><label>Merchant Password</label></td>
												<td><input type="text" class="formField" id="txtCardRSavePassword" name="txtCardRSavePassword" value="{TPL_VAR_CSR_PASS}" /></td>
											</tr>
											<tr>
												<td class="first"><label>Secret Key</label></td>
												<td><input type="text" class="formField" id="txtCardRSaveKey" name="txtCardRSaveKey" value="{TPL_VAR_CSR_SECRET}" /></td>
											</tr>
											<tr>
												<td class="first"><label>Payment Processor Domain</label></td>
												<td><input type="text" class="formField" id="txtCardRSaveDomain" name="txtCardRSaveDomain" value="{TPL_VAR_CSR_DOMAIN}" /></td>
											</tr>
											<tr>
												<td class="first"><label>Results</label></td>
												<td><input type="text" class="formField" id="txtCardRSaveResults" name="txtCardRSaveResults" value="{TPL_VAR_CSR_RESULTS}" /></td>
											</tr>
											<tr>
												<td class="first"><label>CV2</label></td>
												<td><input type="text" class="formField" id="txtCardRSaveCV2" name="txtCardRSaveCV2" value="{TPL_VAR_CSR_CV2}" /></td>
											</tr>
											<tr>
												<td class="first"><label>Currency</label></td>
												<td><input type="text" class="formField" id="txtCardRSaveCurrency" name="txtCardRSaveCurrency" value="{TPL_VAR_CSR_CURRENCY}" /></td>
											</tr>
										</tbody>	
									</table>
								</div>
							</div>  
<!-- (END) cardsave redirect hosted method -->	      
               </div>
		</div>
	 
			</div>
<br style='clear:both;'/>
	</div>
</form></div>
<br style='clear:both;'/>
</div>