    <div class="historyWidgetContainer"><a href="../adminindex.php?flag=dashboard">Home</a> <strong>&raquo;</strong> <a href="adminindex.php?action=settings.companyHome&flag=settings">Settings</a> <strong>&raquo;</strong> <a href="#">Global Settings</a></div>
    <div class="fullWidgetContainer">
      <div class="WidgetTitle">Global Settings</div>
      <div class="WidgetContent">
			<div class="column first">
				<ul class="linkList">
					<li>
						<h4><a href="{TPL_VAR_SITEURL}admin/adminindex.php?action=settings.features">Feature Settings</a></h4>
					</li>
					<li>
						<h4><a href="{TPL_VAR_SITEURL}admin/adminindex.php?action=settings.order">Order Settings</a></h4>
					</li>
				</ul>
			</div>
			<div class="column">
				<ul class="linkList">
					<li>
						<h4><a href="{TPL_VAR_SITEURL}admin/adminindex.php?action=settings.design">Design Settings</a></h4>
					</li>
				
					<li>
						<h4><a href="{TPL_VAR_SITEURL}admin/adminindex.php?action=settings.system">System Settings</a></h4>
					</li>
				</ul>
			</div><br style='clear:both;'/>
			</div>
			</div>
			
			
