
    <div class="historyWidgetContainer"><a href="../adminindex.php?flag=dashboard">Home</a> <strong>&raquo;</strong> <a href="adminindex.php?action=settings.companyHome&flag=settings">Settings</a> <strong>&raquo;</strong> <a href="#">Text Areas</a></div>
    <div class="fullWidgetContainer">
      <div class="WidgetTitle">Text Areas</div>
      <div class="WidgetContent">
<div class="column first">
	<ul class="linkList">
		<li>
			<h4><a href="{TPL_VAR_SITEURL}admin/adminindex.php?action=settings.textarea_edit&which=index_body">Home Page</a></h4>
			<p>Body content for the home page.</p>
		</li>
		<li>
			<h4><a href="{TPL_VAR_SITEURL}admin/adminindex.php?action=settings.textarea_edit&which=member_points">Member Points</a></h4>
			<p>Customise membership points information.</p>
		</li>
		<li>
			<h4><a href="{TPL_VAR_SITEURL}admin/adminindex.php?action=settings.textarea_edit&which=accessibility">Accessibility Statement</a></h4>
			<p>Website accessibility statement.</p>
		</li>
	</ul>
</div>
<div class="column">
	<ul class="linkList">
		<li>
			<h4><a href="{TPL_VAR_SITEURL}admin/adminindex.php?action=settings.textarea_edit&which=conditions">Terms & Conditions</a></h4>
			<p>Website terms & conditions.</p>
		</li>
		<li>
			<h4><a href="{TPL_VAR_SITEURL}admin/adminindex.php?action=settings.textarea_edit&which=privacy">Privacy Policy</a></h4>
			<p>Website privacy policy.</p>
		</li>
		<li>
			<h4><a href="{TPL_VAR_SITEURL}admin/adminindex.php?action=settings.textarea_edit&which=contact">Contact Page</a></h4>
			<p>Website contact page.</p>
		</li>
	</ul>
</div><br style='clear:both;'/></div></div>

 	
 	
 	