<div class="historyWidgetContainer"><a href="../adminindex.php?flag=dashboard">Home</a> <strong>&raquo;</strong> <a href="adminindex.php?action=security.home&amp;flag=admin">Admin</a> <strong>&raquo;</strong> <a href="adminindex.php?action=file.home&amp;flag=admin">File Manager</a> <strong>&raquo;</strong> Settings</div>

    <div class="fullWidgetContainer">
      <div class="WidgetTitle">File Manager</div>
      <div class="WidgetContent">
	<p>To add a file to your Tradingeye system, choose browse to find the file locally on your machine and press upload to transfer it to Tradingeye.  If there is a conflict with a file that has the same name, Tradingeye will overwrite the existing file with the new file uploaded.</p>
	{TPL_VAR_MSG}
	<form action="{TPL_VAR_SITEURL}admin/adminindex.php?action=file.upload&which=product" method="post" enctype="multipart/form-data" name="ThisForm" id="ThisForm" onsubmit="return fileUploadExt(this.thisfile, '.jpg, .jpeg, .gif, .png');">
		<input type="hidden" name="dir" value="{TPL_VAR_DIR}">
		<table class='whiteTable'>
			<thead>
				<tr>
					<th colspan="2">Upload File(s)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="first"><label>Upload Destination</label></td>
					<td>/images/{TPL_VAR_DIR}/</td>
				</tr>
				<tr>
					<td><label>Choose File(s)</td>
					<td>
						<input type="file" name="thisfile" class="img-submit-btn" />
					</td>
				</tr>
			</tbody>
		</table>
		<p class="formButtonWrapper">
			<button type="submit" class="formButton"><img src="../graphics/i_tick.gif" alt="Upload File" /> Upload File</button>
		</p>
	</form>
</div>
</div>
