<div class="historyWidgetContainer">
	<a href="adminindex.php">Home </a> <strong> &raquo; </strong> 
	<a href="adminindex.php?action=email.home">Marketing</a> <strong> &raquo; </strong> 
	<a href='#'>Feeds</a>
</div>

<div class="fullWidgetContainer">
	<div class="WidgetTitle">Shopping</div>
	<div class="WidgetContent">
		<div class="LeftBox">
			<h3>Shopping</h3>
			<ul class="linkList">
				<!-- BEGIN TPL_FROOGLE_BLK -->
				<li>
					<h4><a href="{TPL_VAR_SITEURL}sales/adminindex.php?action=froogle.home">Google Base</a></h4>
				</li>
				<!-- END TPL_FROOGLE_BLK -->
			</ul>
		</div>
		<div class="RightBox" style="width: 49%">
			<h3>RSS Feeds</h3>
			<ul class="linkList">
				<li>
					<h4><a href="{TPL_VAR_SITEURL}sales/adminindex.php?action=feeds.products">Products</a></h4>
				</li>
				<li>
					<h4><a href="{TPL_VAR_SITEURL}sales/adminindex.php?action=feeds.articles">Articles</a></h4>
				</li>
			</ul>
		</div>
		<div class="placeHolder"></div>
	</div>
</div>