<script language="javascript">
	function validate()
	{
		frm=document.ThisForm;
		if(compareDates(frm.start_date.value,frm.end_date.value)>=0)
		{
			alert("Invalid dates\nStart date should be less than End date");
			frm.start_date.focus();
			return false;
		}
		return true;
	}
</script>
<div class="historyWidgetContainer"><a href='adminindex.php'>Home </a><strong> &raquo; </strong><a href='adminindex.php?action=email.home'>Marketing</a><strong> &raquo; </strong><a href='adminindex.php?action=promotions.home'>Promotions</a><strong> &raquo; </strong><a href='#'>Flat Discounts</a></div>
<div class="fullWidgetContainer">
      <div class="WidgetTitle">Flat Discounts</div>
      <div class="WidgetContent">
	<table class="whiteTable2">
		<form action="{TPL_VAR_SITEURL}sales/adminindex.php?action=promotions.updateflat" method="post" name="ThisForm" id="ThisForm" onSubmit="return validate();">
			<input type="hidden" name="mode" value="{TPL_VAR_MODE}">
			<thead>
				<tr>
					<th colspan="2">Flat Discount Builder</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="first"><label>Minimum Order Total {CURRENCY}</label></td>
					<td><span class="formSymbol">{CURRENCY}</span><input type="text" name="total" value="{TPL_VAR_TOTAL}" class="formField short" size="8" maxlength="20" /></td>
				</tr>
				<tr>
					<td><label>Discount Percentage</label></td>
					<td><input type="text" name="discount" value="{TPL_VAR_DISCOUNT}" class="formField short" size="5" maxlength="3" /> %</td>
				</tr>
				<tr>
					<td><label>Start Date (dd/mm/yyyy)</label></td>
					<td>
						<input type="text" id="start_date" name="start_date" value="{TPL_VAR_STARTDATE}" size="7" class="formField date" maxlength="20" />
						<a class="linkCalendar" href="javascript:cal2.popup()">Choose a date</a>
						<script language="JavaScript">
							var cal2 = new calendar2(document.forms[0].elements['start_date']);
							cal2.year_scroll = true;
							cal2.time_comp = false;
						</script>
					</td>
				</tr>
				<tr>
					<td><label>End Date (dd/mm/yyyy)</label></td>
					<td>
						<input type="text" id="end_date" name="end_date" value="{TPL_VAR_ENDDATE}" size="7" class="formField date" maxlength="20" />
						<a class="linkCalendar" href="javascript:cal3.popup()">Choose a date</a>
					 	<script language="JavaScript">
							var cal3 = new calendar2(document.forms[0].elements['end_date']);
							cal3.year_scroll = true;
							cal3.time_comp = false;
						</script>
					</td>
				</tr>
				<tr> 
					<td><label>End Promotion Now?</label></td>
					<td>
						<input type="checkbox" name="endPromo" value="1" class="formField" />
					</td>
      			</tr>
			</tbody>		
		</table>
		<p class="formButtonWrapper">
			<button type="submit" class="formButton"><img src="../graphics/i_cross.gif" alt="Cancel" /> Cancel</button>
			<button type="submit" class="formButton"><img src="../graphics/i_tick.gif" alt="Set Flat Discount" /> Set Flat Discount</button>
		</p>
	</form>
</div></div>
