<div class="historyWidgetContainer"><a href='adminindex.php'>Home </a><strong> &raquo; </strong><a href='adminindex.php?action=email.home'>Marketing</a><strong> &raquo; </strong><a href='adminindex.php?action=feeds.home'>Feeds</a><strong> &raquo; </strong><a href='#'>Google Base</a></div>
<div class="fullWidgetContainer">
	<div class="WidgetTitle">Google Base</div>
	<div class="WidgetContent">
		<!-- BEGIN TPL_MSG_BLK -->
			{TPL_VAR_MSG}
		<!-- END TPL_MSG_BLK -->
		<table class="whiteTable2 Orders">
			<thead>
				<tr> 
					<th>Feed Format</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr> 
					<td><a href="{TPL_VAR_SITEURL}sales/adminindex.php?action=froogle.csvupload">Manual Bulk Upload</a></td>
					<td>Download your products as a .csv for a manual Bulk Upload.</td>
				</tr>
				<tr> 
					<td><a href="{TPL_VAR_SITEURL}sales/adminindex.php?action=froogle.form">Manage Froogle</a></td>
					<td>Settings for automated product upload.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>