<div class="historyWidgetContainer"><a href='adminindex.php'>Home </a><strong> &raquo; </strong><a href='adminindex.php?action=email.home'>Marketing</a><strong> &raquo; </strong><a href='adminindex.php?action=feeds.home'>Feeds</a><strong> &raquo; </strong><a href='#'>Google Base</a></div>
<div class="fullWidgetContainer">
      <div class="WidgetTitle">Google Base</div>
      <div class="WidgetContent">
	<table>
		<thead>
			<tr>
				<th class="first">Feature</th>
				<th>Description</th>
			<tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="{TPL_VAR_SITEURL}admin/adminindex.php?action=settings.metatags">Global Meta Tags</a></td>
				<td>Search engine optimisation</td>
			</tr>
			<tr>
				<td><a href="{TPL_VAR_SITEURL}admin/adminindex.php?action=settings.analytics">Google Analytics</a></td>
				<td>Tracking code for your site analytics</td>
			</tr>
			<tr>
				<td><a href="{TPL_VAR_SITEURL}sales/adminindex.php?action=froogle.home">Google Base</a></td>
				<td>Post products on Google Base. Find them on Google</td>
			</tr>
		</tbody>
	</table>
</div></div>