<div class="historyWidgetContainer">
	<a href='adminindex.php'>Home </a> <strong> &raquo; </strong> 
	<a href='adminindex.php?action=email.home'>Marketing</a> <strong> &raquo; </strong> 
	<a href='#'>Reports</a>
</div>

<div class="fullWidgetContainer">
      <div class="WidgetTitle">Report Generators</div>
      <div class="WidgetContent">
      	<div class="LeftBox">
			<ul class="linkList">
				<li>
					<h4><a href="{TPL_VAR_SITEURL}sales/adminindex.php?action=report.order">Order Report</a></h4>
					<p>Choose specific start and end dates to view total sales.</p>
				</li>
				<li>
					<h4><a href="{TPL_VAR_SITEURL}sales/adminindex.php?action=report.today">Today's Orders</a></h4>
					<p>View total sales for todays date.</p>
				</li>
				<li>
					<h4><a href="{TPL_VAR_SITEURL}adminindex.php?action=home.preport">Product Report</a></h4>
					<p>View all products in your shop.</p>
				</li>
			</ul>
		</div>
		<div class="RightBox">
			<ul class="linkList">
				<li>
					<h4><a href="{TPL_VAR_SITEURL}adminindex.php?action=home.creport">Content Report</a></h4>
					<p>View all content pages within your site.</p>
				</li>
				<li>
					<h4><a href="{TPL_VAR_SITEURL}adminindex.php?action=home.sreport">Stock Report</a></h4>
					<p>View all content pages within your site.</p>
				</li>
			</ul>
		</div>
		<div class="placeHolder"></div>
	</div>
</div>

<div class="fullWidgetContainer">
	<div class="WidgetTitle">Dashboard Reports</div>
	<div class="WidgetContent">
		<div class="LeftBox">
			<h4>Inventory Reports</h4>
			<ul class="linkList">
				<li>
					<h4><a href="{TPL_VAR_SITEURL}/adminindex.php?action=home.bSeller">Best Sellers</a></h4>
					<p>View your best-selling products.</p>			
				</li>
				<li>
					<h4><a href="{TPL_VAR_SITEURL}/adminindex.php?action=home.outOf">Out of Stock</a></h4>
					<p>Lists all products currently out of stock in your store.</p>
					
				</li>
				<li>
					<h4><a href="{TPL_VAR_SITEURL}/adminindex.php?action=home.lowStock">Low Stock</a></h4>
					<p>Shows all products which are almost out of stock.</p>
					
				</li>
			</ul>
			<h4>Statistics</h4>
			<ul class="linkList">
				<li>
					<h4><a href="{TPL_VAR_SITEURL}/adminindex.php?action=home.topSearch">Top Searches</a></h4>
					<p>Shows the most searched phrases via your site's search form.</p>
				</li>
				<li>
					<h4><a href="{TPL_VAR_SITEURL}/adminindex.php?action=home.mostViewed">Most Viewed</a></h4>
					<p>Lists the most popular products by views.</p>
				</li>
				<li>
					<h4><a href="{TPL_VAR_SITEURL}/adminindex.php?action=home.abandonment">Abandonment</a></h4>
					<p>Shows which products have been added to customer's carts, but <strong>not</strong> purchased.</p>
				</li>
			</ul>
		</div>
		<div class="RightBox">
			<h4>Sales Reports</h4>
			<ul class="linkList">
				<li>
					<h4><a href="{TPL_VAR_SITEURL}/adminindex.php?action=home.newOrder">New Orders</a></h4>
					<p>Lists the most recent orders in your store.</p>
				</li>
				<li>
					<h4><a href="{TPL_VAR_SITEURL}/adminindex.php?action=home.pending">Pending Orders</a></h4>
					<p>Shows orders which have been placed, but are awaiting approval or completion.</p>
				</li>
				<li>
					<h4><a href="{TPL_VAR_SITEURL}/adminindex.php?action=home.incomplete">Incomplete Orders</a></h4>
					<p>View orders which have been declined or interrupted prior to completion.</p>
				</li>
			</ul>
			<h4>Customer Reports</h4>
			<ul class="linkList">
				<li>
					<h4><a href="{TPL_VAR_SITEURL}/adminindex.php?action=home.newCust">New Customers</a></h4>
					<p>See the latest customer signups.</p>
				</li>
				<li>
					<h4><a href="{TPL_VAR_SITEURL}/adminindex.php?action=home.returnCust">Returning Customers</a></h4>
					<p>Lists customers who return to your store and make repeat orders.</p>
				</li>
				<li>
					<h4><a href="{TPL_VAR_SITEURL}/adminindex.php?action=home.bestCust">Best Paying</a></h4>
					<p>Lists which customers have spent the most in total.</p>
				</li>
			</ul>
		</div>
		<div class="placeHolder"></div>
	</div>
</div>
