Dear {TPL_VAR_NAME},
<br /><br />
Invoice Number: {TPL_VAR_INVOICE}
<br /><br />
We are pleased to inform you that your order has been sent.<br />
================================================<br />
Method: {TPL_VAR_METHOD}<br />
Tracking Number: {TPL_VAR_TRACKNUM}<br />
<br /><br />
You can check the status of your order by going to the url below<br />
<a href="{TPL_VAR_URL}">{TPL_VAR_URL}</a><br /><br /><br />

<p>
=================================================<br />
Thank you for your business.<br />
<address>
{TPL_VAR_MAILFOOTER}
</address>
=================================================</p>