<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{TPL_VAR_METATITLE}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Language" content="en-gb" />
	<meta http-equiv="imagetoolbar" content="false" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	<meta name="author" content="Tradingeye" />
	<link rel="shortcut icon" href="{TPL_VAR_REAL_PATH}favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{TPL_VAR_REAL_PATH}css/dashboard.css" media="all" />
	<script language="javascript"  type="text/javascript">var SITEURL="{TPL_VAR_SITEURL}";</script>
	<script language="JavaScript" type="text/javascript" src="{TPL_VAR_REAL_PATH}jscript/checkdate.js"></script>
	<script language="javascript" type="text/javascript" src="{TPL_VAR_REAL_PATH}jscript/admin.js"></script>
	<script language="JavaScript" type="text/javascript" src="{TPL_VAR_REAL_PATH}jscript/calendar.js"></script>
	<script language="JavaScript" type="text/javascript" src="{TPL_VAR_REAL_PATH}jscript/calendar2.js"></script>
	<script language="JavaScript" type="text/javascript" src="{TPL_VAR_REAL_PATH}jscript/common.js"></script>
	<script language="JavaScript" type="text/javascript" src="{TPL_VAR_REAL_PATH}jscript/SpryAccordion.js"></script>
	<script language="JavaScript" type="text/javascript" src="{TPL_VAR_REAL_PATH}jscript/SpryTabbedPanels.js"></script>
	<script language="JavaScript" type="text/javascript" src="{TPL_VAR_REAL_PATH}jscript/SpryEffects.js"></script>
	<script language="Javascript" type="text/javascript" src="{TPL_VAR_REAL_PATH}jscript/prototype.js"></script>
	<script language="JavaScript" type="text/javascript" src="{TPL_VAR_REAL_PATH}jscript/effects.js"></script>
	<script language="JavaScript" type="text/javascript" src="{TPL_VAR_REAL_PATH}jscript/lightwindow.js"></script>
	<script type="text/javascript" src="../ckeditor/ckeditor.js"></script>
	<meta name="robots" content="noindex" />
	<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('form').append('<input type="hidden" name="auth" value="{TPL_VAR_AUTH_TOKEN}"/>');
		});
	</script>
	<meta name="robots" content="noindex" />
	
	<!--[IF IE]>
	<style text="text/css">
		#footer { width: 100%; !important
          		  width: 1280px;  }
	</style>
	<![endif]-->
	
</head>

<body>
<div id="container">
	<div id="top">
		<!-- STARTING LEFT INCLUDE -->
		{TPL_VAR_LEFT}
		<!-- FINISHED LEFT INCLUDE -->
	</div>
	<div id="content">
		<!-- STARTING BODY INCLUDE -->
		{TPL_VAR_BODY}
		<!-- FINISHED BODY INCLUDE -->
	</div>
</div>
<div id="footer">
	<span class="copyright">TradingEye is a product of <a href="#">Electronic And Mobile Commerce Software Ltd</a>.</span><span class="copyright" style="float:right;margin-right:20px;">TradingEye V7.1.1.31072013.01</span>
</div>

<script type="text/javascript">
	var acc1 = new Spry.Widget.Accordion("Acc1", { useFixedPanelHeights: false, defaultPanel: -1 });
	var acc2 = new Spry.Widget.Accordion("Acc2", { useFixedPanelHeights: false, defaultPanel: -1 });
	var acc3 = new Spry.Widget.Accordion("Acc3", { useFixedPanelHeights: false, defaultPanel: -1 });
</script>
</body>

</html>
      