<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Tradingeye v5 :: Help</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Language" content="en-gb" />
<meta http-equiv="imagetoolbar" content="false" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<meta name="author" content="dpivision.com Ltd" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{TPL_VAR_SITEURL}css/admin_blue.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{TPL_VAR_SITEURL}css/print.css" media="print" />
<meta name="robots" content="noindex" />
<script language="JavaScript" src="{TPL_VAR_SITEURL}jscript/admin.js"></script>
</head>

<body>
{TPL_VAR_HELPBODY}
</body>
</html>