<div class="historyWidgetContainer">
	<a href='adminindex.php'>Home</a> <strong>&raquo;</strong> 
	<a href='/sales/adminindex.php?action=email.home&amp;flag=marketing'>Marketing</a> <strong>&raquo;</strong>
	<a href='/sales/adminindex.php?action=report.home&amp;flag=marketing'>Reports</a> <strong>&raquo;</strong>  
	<a href="#">Low Stock</a>
</div>

<div class="fullWidgetContainer">
	<div class="WidgetTitle">Low in Stock</div>
	<div class="WidgetContent">
		<p class="buttonWrapper">
			<button onclick="window.location='{TPL_VAR_SITEURL}adminindex.php'" class="formButton"><img src="{TPL_VAR_SITEURL}graphics/i_back.gif" alt="Back" /> <div>Return to Dashboard</div></button>
		</p>
		<table class="whiteTable2 Orders" cellspacing="0">
			<thead>
				<tr>
					<th>Product Name</th>
					<th>Minimum Stock Level</th>
					<th>Current Stock</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN TPL_LOWSTOCK_BLK -->
				<tr>
					<td><a href="TPL_VAR_LOWPRODUCTURL">{TPL_VAR_LOWOFTITLE}</a></td>
					<td>{TPL_VAR_MINIMUM}</td>
					<td>{TPL_VAR_LOWOFINVENTORY}</td>
				</tr>
				<!-- END TPL_LOWSTOCK_BLK -->
			</tbody>
		</table>
	</div>
</div>