<div class="historyWidgetContainer">
	<a href='adminindex.php'>Home</a> <strong>&raquo;</strong> 
	<a href='/sales/adminindex.php?action=email.home&amp;flag=marketing'>Marketing</a> <strong>&raquo;</strong>
	<a href='/sales/adminindex.php?action=report.home&amp;flag=marketing'>Reports</a> <strong>&raquo;</strong>  
	<a href="#">Pending Orders</a>
</div>

<div class="fullWidgetContainer">
	<div class="WidgetTitle">Pending Orders</div>
	<div class="WidgetContent">
		<p class="buttonWrapper">
			<button onclick="window.location='{TPL_VAR_SITEURL}adminindex.php'" class="formButton"><img src="{TPL_VAR_SITEURL}graphics/i_back.gif" alt="Back" /> <div>Return to Dashboard</div></button>
		</p>
		<table class="whiteTable2 Orders" cellspacing="0">
			<thead>
				<tr>
					<th>Invoice Number</th>
					<th class="title">Customer Name</th>
					<th>Order Total</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN TPL_PENDINGORDER_BLK -->
				<tr>
					<td><a href="{TPL_VAR_PENURL}">{TPL_VAR_PENORDERNUMBER}</a></td>
					<td>{TPL_VAR_CUSTURL}{TPL_VAR_PENORDERCUSTOMER}{TPL_VAR_CLOSETAG}</td>
					<td>{TPL_VAR_PENORDERTOTAL}</td>
				</tr>
				<!-- END TPL_PENDINGORDER_BLK -->
			</tbody>
		</table>
	</div>
</div>