<div class="historyWidgetContainer">
	<a href='adminindex.php'>Home</a> <strong>&raquo;</strong> 
	<a href='/sales/adminindex.php?action=email.home&amp;flag=marketing'>Marketing</a> <strong>&raquo;</strong>
	<a href='/sales/adminindex.php?action=report.home&amp;flag=marketing'>Reports</a> <strong>&raquo;</strong>  
	<a href="#">Returning Customers</a>
</div>

<div class="fullWidgetContainer">
	<div class="WidgetTitle">Returning Customers</div>
	<div class="WidgetContent">
		<p class="buttonWrapper">
			<button onclick="window.location='{TPL_VAR_SITEURL}adminindex.php'" class="formButton"><img src="{TPL_VAR_SITEURL}graphics/i_back.gif" alt="Back" /> <div>Return to Dashboard</div></button>
		</p>
		<table class="whiteTable2 Orders" cellspacing="0">
			<thead>
				<tr>
					<th>Customer Name</th>
					<th>Orders to Date</th>
					<th>Total Spend</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN TPL_RETCUSTOMERS_BLK -->
				<tr>
					<td><a href="{TPL_VAR_CUSTURL}">{TPL_VAR_RETCUSTOMER}</a></td>
					<td>{TPL_VAR_NUMORDERS}</td>
					<td>{TPL_VAR_TOTAL}</td>
				</tr>
				<!-- END TPL_RETCUSTOMERS_BLK -->
			</tbody>
		</table>
	</div>
</div>