<div class="historyWidgetContainer">
	<a href="adminindex.php?flag=dashboard">Home</a> <strong>&raquo;</strong> 
	<a href="adminindex.php?action=ec_show.home&amp;flag=builder">Builder</a> <strong>&raquo;</strong> 
	<a href="adminindex.php?action=ec_option.home">Product Options &amp; Attributes</a> 
</div>

<div class="fullWidgetContainer">
	<div class="WidgetContent">
		<ul class="linkList">
			<li>
				<h4><a href="adminindex.php?action=ec_option.dspStandardOpt">Standard Options</a></h4>
			</li>
			<li>
				<h4><a href="adminindex.php?action=ec_option.dspCustomOpt">Custom Options</a></h4>
			</li>
			<li>
				<h4><a href="adminindex.php?action=ec_option.dspAttributes">Product Attributes</a></h4>
			</li>
		</ul>
	</div>
</div>
	
