<div class="historyWidgetContainer">
	<a href="adminindex.php?flag=dashboard">Home</a> <strong>&raquo;</strong> 
	<a href="adminindex.php?action=ec_show.home&amp;flag=builder">Builder</a> <strong>&raquo;</strong> 
	<a href="adminindex.php?action=ec_option.home">Product Options &amp; Attributes</a> <strong>&raquo;</strong> 
	<a href='#'>Standard Options</a>
</div>

<div class="fullWidgetContainer">
	<div class="WidgetTitle">Standard Options <small>{TPL_TOTAL_RECORDS} records found</small></div>
	<div class="WidgetContent">
		<form action="{TPL_SHOPURL}adminindex.php?action=ec_option.dspStandardOpt" id="search" class="searchStandardOptions" method="post">  
			<label for="searchKeyword">Search Standard Options:</label>
				<input type="text" name="search" value="{TPL_VAR_SEARCH}" maxlength="30" id="searchKeyword" /> 
				<input type="submit" value="GO" id="searchSubmit" />{TPL_VAR_VIEWALL}
			</form>
			<p><button class="formButton" onclick="window.location='{TPL_SHOPURL}adminindex.php?action=ec_option.dspNumForm'"><img src="../graphics/i_add.gif" alt="Add New Standard Option" /> <div>Add New Standard Option</div></button></p>
	<!-- BEGIN TPL_MAINOPTION_BLK -->		
		<table class="whiteTable Orders" cellpadding="0" cellspacing="0">
			<thead>
				<tr> 
					<th class="headerOptionTitle">Option Title</th>
					<th class="expand">Description</th>
					<!--<th class="headerImage">Image</th>-->
					<th class="headerEdit">Edit</th>
					<th class="headerDelete">Delete</th>
				</tr>
			</thead>
			<!-- BEGIN TPL_STDOPTIONS_BLK -->
			<tbody>
				
				<tr>
					<td>{TPL_VAR_TITLE}</td>
					<td>{TPL_VAR_DESC}</td>
					<!--<td><a href="#" class="linkAddImage">Add Image</a></td>-->
					<td><a href="adminindex.php?action=ec_option.editForm&optionid={TPL_OPTION_ID}" class="linkEdit">Edit</a></td>
					<td><a href="adminindex.php?action=ec_option.delete&optionid={TPL_OPTION_ID}&amp;auth={TPL_VAR_AUTH_TOKEN}"  onclick="if(confirm('Are you sure you wish to delete Product option and all option values?')){return true}else{return false}" class="linkDelete">Delete</a></td>
				</tr>
				
			</tbody>
			<!-- END TPL_STDOPTIONS_BLK -->
		</table>
	<!-- END TPL_MAINOPTION_BLK -->	
	</div>
</div>
